[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HospitalNetwork"]
	path = HospitalNetwork
	url = https://github.com/pascalcrepey/hospitalnetwork
